*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    background: #9766eb;
    padding: 2rem 0;
}

.header a {
    color: black;
    text-decoration: none;
    align-items: center;
}

.menu-nuevo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-nuevo ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.menu-nuevo li{
    display: inline-block;
}


.menu-nuevo ul li a{

    padding: 0.2rem 6rem;
}


.menu-nuevo ul li a:hover {
    background: #999999;
    transition: all 0.7s linear;
    border-radius: 5px;
}


.content img{
    width: 120px;
    height: 60px;
    float: left;
    border-radius: 7%;
    margin-right: 70px;
    position: relative;
    left: 5px;
    top: -20px;

}




body{
    background-color: #776897;
}

